@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --bg: #f8f8f8;
  --light: #e6e6e6;
  --dark: #1a1a1a;
  --grey: #999;
  --blue: #3369f3;
}
body {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}
li { 
  list-style-type: none;
}
main {
  width: 400px;
  margin: 0 auto;
  margin-top: 2%;
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 30px;
}
fieldset {
  border: none;
}
legend {
  margin-bottom: 20px;
  text-align: center;
}
label {
  font-size: 14px;
  color: var(--grey);
}
input {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid var(--blue);
}
input[type=submit] {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
}
.registration {
  color: var(--blue);
  text-align: center;
}
.frame {
  width: 95%;
  min-width: 360px;
  max-width: 1000px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: var(--light);
}
@media screen and (max-width: 360px) {
  .frame {
    width: 100%;
    height: 100vh;
  }
}
.frame .sidebar {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: var(--bg);
  color: var(--dark);
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  .frame .sidebar {
    width: 58px;
    min-width: 58px;
  }
}
.frame .sidebar .profile {
  width: 80%;
  margin: 25px auto;
}
.frame .sidebar .profile button {
  float: right;
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.frame .sidebar .profile button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.frame .sidebar .profile button:focus {
  outline: none;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: var(--bg);
  }
}
.frame .sidebar .profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .profile .wrap {
    height: 55px;
  }
}
.frame .sidebar .profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  height: auto;
  float: left;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}
.frame .sidebar .profile .wrap p {
  float: left;
  margin-left: 15px;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .profile .wrap p {
    display: none;
  }
}
.frame .sidebar .profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 735px) {
  .frame .sidebar .profile .wrap i.expand-button {
    display: none;
  }
}
.frame .sidebar .profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}
.frame .sidebar .profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}
.frame .sidebar .profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: var(--light);
  border-radius: 3px;
  color: var(--light);
  padding: 7px;
  width: calc(100% - 43px);
}
.frame .sidebar .profile .wrap #expanded input:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.3);
}
.frame .sidebar .search {
  border-bottom: 1px solid var(--light)
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .search {
    display: none;
  }
}
.frame .sidebar .search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
.frame .sidebar .search input {
  padding: 10px 0 10px 46px;
  border: none;
  background: var(--light);
  border-radius: 5px;
}
.frame .sidebar .search input:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.3);
}

.frame .sidebar .search input::-moz-placeholder {
  color: var(--light);
}
.frame .sidebar .search input:-ms-input-placeholder {
  color: var(--light);
}
.frame .sidebar .search input:-moz-placeholder {
  color: var(--light);
}
.frame .sidebar .contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .contacts {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .frame .sidebar .contacts::-webkit-scrollbar {
    display: none;
  }
}
.frame .sidebar .contacts.expanded {
  height: calc(100% - 334px);
}

.frame .sidebar .contacts::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0.3);
}
.frame .sidebar .contacts::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.frame .sidebar .contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
.frame .sidebar .contacts ul li.contact:hover,
.frame .sidebar .contacts ul li.contact.active {
  background: var(--light);
}
.frame .sidebar .contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .contacts ul li.contact .wrap {
    width: 100%;
  }
}
.frame .sidebar .contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--dark);
  background: var(--light);
}
.frame .sidebar .contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}
.frame .sidebar .contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .contacts ul li.contact .wrap .meta {
    display: none;
  }
}
.frame .sidebar .contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
}
.frame .sidebar .contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.frame .sidebar .contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: 0.5;
}
.frame .sidebar .bottombar {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.frame .sidebar .bottombar button {
  border: none;
  width: 100%;
  padding: 10px 0;
  background: var(--light);
  cursor: pointer;
  font-size: 0.85em;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .bottombar button {
    float: none;
    width: 100%;
    padding: 15px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.3)
  }
}
.frame .sidebar .bottombar button:focus {
  outline: none;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .bottombar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.frame .sidebar .bottombar button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.frame .sidebar .bottombar button i {
  margin-right: 3px;
  font-size: 1em;
}
@media screen and (max-width: 735px) {
  .frame .sidebar .bottombar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 735px) {
  .frame .sidebar .bottombar button span {
    display: none;
  }
}
.frame .chat {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  .frame .chat {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  .frame .chat {
    width: calc(100% - 340px);
  }
}
.frame .chat .contact-profile {
  width: 100%;
  height: 60px;
  background: var(--bg);
}
.frame .chat .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
.frame .chat .contact-profile p {
  float: left;
}
.frame .chat .contact-profile .social-media {
  float: right;
}
.frame .chat .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
.frame .chat .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
.frame .chat .contact-profile .social-media i:hover {
  color: rgba(0, 0, 0, 0.3);
}
.frame .chat .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  .frame .chat .messages {
    max-height: calc(100% - 105px);
  }
}
.frame .chat .messages::-webkit-scrollbar {
  width: 8px;
}
.frame .chat .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.frame .chat .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
.frame .chat .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
.frame .chat .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
.frame .chat .messages ul li.sent p {
  background: var(--bg);
  color: var(--dark);
}
.frame .chat .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
.frame .chat .messages ul li.replies p {
  background: #c4d5f5;
  float: right;
}
.frame .chat .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.frame .chat .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  .frame .chat .messages ul li p {
    max-width: 300px;
  }
}
.frame .chat .message-input {
  background: var(--bg);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.frame .chat .message-input .wrap {
  position: relative;
}
.frame .chat .message-input .wrap input {
  float: left;
  border: none;
  width: calc(100% - 120px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  background: var(--light);
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 15px;
}
@media screen and (max-width: 735px) {
  .frame .chat .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
.frame .chat .message-input .wrap input:focus {
  outline: none;
}
.frame .chat .message-input .wrap .attachment {
  position: absolute;
  left: 15px;
  z-index: 4;
  margin-top: 25px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  .frame .chat .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
.frame .chat .message-input .wrap .attachment:hover {
  opacity: 1;
}
.frame .chat .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 15px 0;
  cursor: pointer;
  background: var(--light);
  margin-top: 10px;
}
@media screen and (max-width: 735px) {
  .frame .chat .message-input .wrap button {
    padding: 16px 0;
  }
}
.frame .chat .message-input .wrap button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.frame .chat .message-input .wrap button:focus {
  outline: none;
}

.avatar {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  box-sizing: content-box;
  margin: 0 auto;
  width: 125px;
  height: 125px;
  overflow: hidden;
  position: relative;
}

.avatar img {
  width: 125px;
  border-radius: 100%;
}
.avatar-attach {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.profile-fields hr {
  border-bottom: 0;
  border-top: 1px solid #ddd;
  margin: 0;
}
.profile-fields li {
  margin: 0;
  padding: 14px 6px;
  border-left: 1px solid #fff;
}
.field-content {
  float: right;
  font-size: 10px;
  color: #8f9496;
  padding: 4px;
}
.profile-exit {
  color: #ff0000;
}
.change-chat {
  text-align: center;
  padding-top: 350px;
}
.mistakepage {
  text-align: center;
}

